# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Test and temporary files
tmp/
temp/
*.tmp

# Local configuration overrides
*.local
*-local.*
local.*

# Logs
*.log
logs/

# Environment variables
.env
.env.local
.envrc

# Package managers
node_modules/
.pnpm-store/

# Homebrew
Brewfile.lock.json


