format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$nodejs\
$golang\
$aws\
$container\
\n$character"""

right_format = """
$cmd_duration\
$time"""

command_timeout = 3000
[directory]
truncation_length = 2

[git_metrics]
disabled = false
added_style = 'bold blue'
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[time]
disabled = false
time_format = "%R"
#style = "bg:#1d2230"
#format = '[[ Ôê∫ $time ](fg:#a0a9cb bg:#1d2230)]($style)'
